<ion-content class="ion-padding">
  <h1 class='title'>Furry Friends</h1>
  <p *ngIf="firstPage">How well you know our furry friends? Let´s find out!</p>
  <ion-button default color="dark" *ngIf="firstPage"  (click)="startQuiz()">Start</ion-button>
  <ion-list *ngIf="showQuestion">
      <p class='question'> {{questionCounter}}/{{totalQuestions}}</p>
      <p name='text'>"{{activeQuestion}}"</p>
      <ion-img [src]="activeImage"></ion-img>
    <ion-radio-group>
      <ion-item *ngFor="let choice of activeOption; let i=index">
        <ion-label type='button' (click)="checkQuestion(i, correctAnswer)" class='option'>{{choice}}</ion-label>
      </ion-item> 
    </ion-radio-group>
  </ion-list>
  <div *ngIf="showResult">
  <ion-list>
    <ion-label class="results">
      Correct answer: {{totalCorrect}}/{{totalQuestions}}
    </ion-label>
    <ion-label class="results">
     Correctness: {{percentage}} %
    </ion-label>
    <ion-label class="results">
     Duration: {{resultTime}} seconds
   </ion-label>
   <ion-label class="results">
      {{feedback}}
   </ion-label>
  </ion-list>
   <ion-button default color="dark" (click)="correctAnswers()">Correct Answers</ion-button>
  </div>
  <div *ngIf="lastPage">
    <ion-list>
      <ion-item *ngFor="let choice of correctAnswerArray; let i=index">
          <ion-label class='option'>{{choice}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button default color="dark" (click)="startOver()">Try Again</ion-button>
  </div>
</ion-content>